@model MVCSample.Models.StockUnit
@using MVCSample.Views.StockUnit

@{
	ViewBag.Title = string.Format(Resources.StockUnit_Create_Title_Format, "Stock Unit");
}

<h2>@ViewBag.Title.</h2>
<div class="row">
    <section id="createForm">
        <form id="form">
			<div class="col-md-8">
                @Html.AntiForgeryToken()
                <h4>@string.Format(Resources.StockUnit_Create_Form_Header_Format, "Stock Unit")</h4>
                <hr />
				<div class="alert alert-warning" data-bind="visible: error" style="visibility: hidden;"><strong>Warning! </strong><span data-bind="text: errorMessage"></span></div>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
				@Html.HiddenFor(m => m.PublicId, new Dictionary<string, object>() { { "class", "form-control" }, { "data-bind", "value: PublicId" } })
						
				<div class="form-group">
					<div class="row">
						@Html.LabelFor(m => m.ModelGuid, new { @class = "col-md-3 control-label" })
						<div class="col-md-9">
							@Html.TextBoxFor(m => m.ModelGuid, new Dictionary<string, object>() { { "class", "form-control" }, { "data-bind", "value: ModelGuid" }, { "data-role", "datetimepicker" } })
							@Html.ValidationMessageFor(m => m.ModelGuid, "", new { @class = "text-danger" })
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
						@Html.LabelFor(m => m.StockItemPublicId, new { @class = "col-md-3 control-label" })
						<div class="col-md-9">
							@Html.TextBoxFor(m => m.StockItemPublicId, new Dictionary<string, object>() { { "class", "form-control" }, { "data-bind", "value: StockItemPublicId, source: StockItemsDataSource" }, { "data-role", "dropdownlist" }, { "data-auto-bind", "false" }, { "data-text-field", "Name" }, { "data-value-field", "PublicId" } })
							@Html.ValidationMessageFor(m => m.StockItemPublicId, "", new { @class = "text-danger" })
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
						@Html.LabelFor(m => m.TransactionDateTime, new { @class = "col-md-3 control-label" })
						<div class="col-md-9">
							@Html.TextBoxFor(m => m.TransactionDateTime, new Dictionary<string, object>() { { "class", "form-control" }, { "data-bind", "value: TransactionDateTime" }, { "data-role", "datetimepicker" } })
							@Html.ValidationMessageFor(m => m.TransactionDateTime, "", new { @class = "text-danger" })
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
						@Html.LabelFor(m => m.StockIn, new { @class = "col-md-3 control-label" })
						<div class="col-md-9">
							@Html.TextBoxFor(m => m.StockIn, new Dictionary<string, object>() { { "class", "form-control" }, { "data-bind", "value: StockIn" } })
							@Html.ValidationMessageFor(m => m.StockIn, "", new { @class = "text-danger" })
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
						@Html.LabelFor(m => m.ReceiptNumber, new { @class = "col-md-3 control-label" })
						<div class="col-md-9">
							@Html.TextBoxFor(m => m.ReceiptNumber, new Dictionary<string, object>() { { "class", "form-control" }, { "data-bind", "value: ReceiptNumber" } })
							@Html.ValidationMessageFor(m => m.ReceiptNumber, "", new { @class = "text-danger" })
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
						@Html.LabelFor(m => m.StockOut, new { @class = "col-md-3 control-label" })
						<div class="col-md-9">
							@Html.TextBoxFor(m => m.StockOut, new Dictionary<string, object>() { { "class", "form-control" }, { "data-bind", "value: StockOut" } })
							@Html.ValidationMessageFor(m => m.StockOut, "", new { @class = "text-danger" })
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
						@Html.LabelFor(m => m.InvoiceNumber, new { @class = "col-md-3 control-label" })
						<div class="col-md-9">
							@Html.TextBoxFor(m => m.InvoiceNumber, new Dictionary<string, object>() { { "class", "form-control" }, { "data-bind", "value: InvoiceNumber" } })
							@Html.ValidationMessageFor(m => m.InvoiceNumber, "", new { @class = "text-danger" })
						</div>
					</div>
				</div>
			</div>
            <div class="col-md-4">
                <h4>@Resources.StockUnit_Create_Form_Options</h4>
                <hr />
                <div class="row form-group">
                    <div class="col-md-12">
                        <button data-bind="click: create" class="btn btn-default">@Resources.StockUnit_Create_Save</button>
                    </div>
                </div>
            </div>
		</form>
	</section>
</div>

@section scripts{
	@Scripts.Render("~/bundles/jqueryval")
	@Scripts.Render("~/bundles/kendo")

	<script src="/Scripts/Data/StockItems.js"></script>
	<script src="/Scripts/Data/StockUnit.js"></script>

	<script type="text/javascript">

		$(document).ready( function() {

			StockUnitData.Init("NOTSET");
			StockUnitData.Load($("form"));
			
		});

	</script>
}
